.latitude {
    background-color: darkturquoise;
    padding: 10px;
    color: white !important;
    font-weight: bold;
}

h3 {
    color: darkturquoise;
    font-size: 50px;
    font-weight: bold;
} 

h4 {
    color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
}

h2 {
    color: darkturquoise;
    font-size: 30px;
    font-weight: bold; 
}

.image-weather {
    width:20%
}

.nav-link {
    font-weight: bold;
}